spring:
  application:
    name: gateway-server

  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: main-service-all-routes
          uri: lb://main-service
          predicates:
            - Path=/**