spring:
  application:
    name: gateway-server

  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: user-service-route
          uri: lb://user-service
          predicates:
              - Path=/admin/users/**
        - id: request-service-route
          uri: lb://request-service
          predicates:
            - Path=/users/{userId}/requests/**
        - id: main-service-all-routes
          uri: lb://main-service
          predicates:
            - Path=/**