spring:
  datasource:
    url: jdbc:postgresql://localhost:6432/stats
    username: stats
    password: stats
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        default_schema: public
        format_sql: true

  logging:
    level:
      ru.practicum.ewm: DEBUG